:root{
  --primary-color: #3e5cc9;
  --secondary-color: #f0f8ff;
}
a{
  text-decoration: none;
}
.App footer{
  color: var(--secondary-color);
} 
.body{
  margin-top: 150px!important;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.head{
  max-width: 500px;
  margin: 10px auto!important;
}
.date-container .location{
  margin-top: 20px;
  font-size: 30px;
}
.temp-main{
  font-size: 75px;
}
.weather-container ul{
  list-style: none;
}
.date-data{
  display: block;
  margin: 0 auto;
  width: 250px;
  border-radius: 30px;
  background : #1e2233;
  opacity: 0.9;
}
.date span{
  font-weight: 600;
  opacity: 0.7;
}
.unit{
  color: var(--primary-color);
  text-transform: uppercase!important;
  font-size: 18px;
  font-weight: 400;
  position: relative;
  line-height: 1;
  top: -35px;
}
.celsius{
  font-size: 14px;
  font-weight: 500;  
}
.temp-info{
  border-radius: 30px;
  background : #1e2233;
  opacity: 0.9;
}
.max-temp, .min-temp{
  display: inline-block;
  margin: 10px;
}
.weather-description{
  color: var(--primary-color);
  text-transform: capitalize;
  font-size: 30px;
}
.current-location-btn{
  margin-top: 20px;
}
.current-location-btn button{
  margin: 20px;
  padding: 8px;
  line-height: 1.5;
  font-weight: 300;
  border: 1px solid #2e2d2d;
  border-radius: 25px;
  color: var(--secondary-color);
  background: linear-gradient(109.6deg, rgb(9, 175, 167) 11.2%, rgb(12, 29, 184) 91.1%);
  opacity: 0.8;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  transition: all 200ms ease-in-out;
}
.current-location-btn button:hover{
  transform: scale(1.1);
  opacity: 1;
}
.weather-container{
  margin-top: 55px;
}
.weather-data-specific{
  color: var(--primary-color);
}
.weather-data-specific ul{
  margin: 10px;
  list-style: none;
}
.weather-data-specific li{
  display: flex;
  justify-content: space-between;
}
.weather-data-specific .title{
  font-weight: 700;
}

.Weather{
  display: block;
  margin: 80px auto;
  background-color: #0364f72a;
  border-radius: 25px;
  max-width: 800px;
}
.weather-data{
  color: var(--primary-color);
  height: 100%;
  border-radius: 25px;
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/094/963/original/background.jpg?1693240056");
  width: auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  transition: all 200ms ease-in-out;
}
.weather-data:hover{
  transform: scale(1.1);
}
/*clock*/
.Clock{
  margin-right: 50px;
  border: 2px solid var(--primary-color);
  border-radius: 15px;
  padding: 10px;
  color: var(--primary-color);
}
/*search form*/
form::placeholder{
  color: var(--primary-color)!important;
}
form{
    margin-top: 22px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: all 1s;
    width: 50px;
    height: 50px;
    background: transparent;
    box-sizing: border-box;
    border-radius: 25px;
    border: 4px solid var(--primary-color);
    padding: 5px;
}
input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 42.5px;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 1em;
    border-radius: 20px;
    padding: 0 20px;
    background: transparent;
    color: var(--primary-color);
}

.fa{
    box-sizing: border-box;
    padding: 10px;
    width: 42.5px;
    height: 42.5px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    color: var(--primary-color);
    text-align: center;
    font-size: 1.2em;
    transition: all 1s;
}

form:hover{
    width: 300px;
    cursor: pointer;
}

form:hover input{
    display: block;
}

form:hover .fa{
    background: #07051a;
    color: var(--primary-color);
}

.forecast-temp-min {
  opacity: 0.7;
  margin-left: 5px;
}

.days {
  -webkit-box-shadow: 0 0 50px -5px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 50px -5px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  background: transparent;
}

.days {
  color: var(--primary-color)!important;
  padding: 15px;
  cursor: pointer;
  -webkit-transition: 200ms ease;
  -o-transition: 200ms ease;
  transition: 200ms ease;
  border-radius: 10px;
}

.days:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color)!important;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-box-shadow: 0 0 40px -5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 40px -5px rgba(0, 0, 0, 0.2)
}

.forecast-temp-min, .forecast-temp-max {
  font-weight: 700;
}
